[submodule "home/.vim/bundle/Vundle.vim"]
	path = home/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "home/.zprezto"]
	path = home/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "home/.zpreztomodules/tmuxifier"]
	path = home/.zpreztomodules/tmuxifier
	url = https://github.com/dangrystad/tmuxifier.git
